---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';
import { getCollection } from 'astro:content';
import Bio from '../Bio/index.astro'

export type Props = {
  lang?: 'en' | 'ja';
};

const { lang } = Astro.props;

const filter = lang
  ? ({ id }: { id: string }) => id.startsWith(`${lang}/`)
  : undefined;

const posts = (await getCollection('blog', filter)).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section
    class="w-full px-6 py-12 rounded-2xl bg-white shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5 md:mx-auto md:max-w-3xl lg:max-w-4xl lg:px-16 lg:pb-16 lg:pt-11 dark:bg-slate-700 transition-colors"
  >
    <div class="text-right text-sm transition-colors dark:text-slate-300">
      <a href="/en">English</a> / <a href="/ja">日本語</a>
    </div>
    <ul>
      {
        posts.map((post) => (
          <li class="text-base transition-colors dark:text-slate-300 lg:text-lg lg:leading-[1.778] mb-16 last:mb-0">
            <article>
              <header class="items-baseline">
                <a class="text-lg font-medium underline" href={`${post.slug}/`}>{post.data.title}</a>
                <FormattedDate
                  className="italic text-sm block mt-2 mb-4"
                  date={post.data.pubDate}
                />
              </header>
              <p>{post.data.description}</p>
            </article>
          </li>
        ))
      }
    </ul>
  </section>
  <Bio />
</BaseLayout>
