---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';
import { getCollection } from 'astro:content';

export type Props = {
  lang?: 'en' | 'ja';
};

const { lang } = Astro.props;

const filter = lang
  ? ({ id }: { id: string }) => id.startsWith(`${lang}/`)
  : undefined;

const posts = (await getCollection('blog', filter)).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section
    class="not-prose rounded-2xl bg-white shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5 md:mx-auto md:max-w-3xl lg:max-w-4xl lg:p-16"
  >
    <ul>
      {
        posts.map((post) => (
          <li class="mb-16 last:mb-0">
            <article>
              <header class="items-baseline">
                <a class="text-lg font-medium text-slate-900 underline" href={`${post.slug}/`}>{post.data.title}</a>
                <FormattedDate
                  className="italic text-sm block mt-2 mb-4"
                  date={post.data.pubDate}
                />
              </header>
              <p>{post.data.description}</p>
            </article>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
