---
import type { CollectionEntry } from 'astro:content';
import { Image } from '@astrojs/image/components';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';
import Bio from '../components/Bio/index.astro'

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article class="prose prose-slate lg:prose-lg lg:max-w-4xl px-6 py-12 lg:p-0 dark:prose-invert transition-colors">
    {heroImage && <Image width={720} height={360} src={heroImage} alt="" />}
    <h1>{title}</h1>
    <FormattedDate date={pubDate} />
    {
      updatedDate && (
        <div class="last-updated-on">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
    <slot />
  </article>
  <hr class="border-slate-200 my-[3em] lg:my-[3.11111em]" />
  <Bio />
</BaseLayout>
